@import "node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
#schoolHoverPopup{
  position: absolute;
  top: 100px;
  left: 200px;
  height: 40px;
  width: 100px;
  z-index: 110;
  background-color: #330101;
}




#info{
  position: absolute;
  top: 60px;
  right: 150px;
  max-height: 500px;
  background-color: #a4e7d1;
  padding: 10px;
  /* overflow: scroll; */
  border-radius: 6px;
  padding: 13px;
  /* border: 1px solid  #00625A; */
  /* border-radius: 8px; */
  
}

#info select{
  width: 90%;
  border: 1px solid  #00625A;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 10px;
}

#info.show{
  display: block;
}
#info-toggle{
  position: absolute;
  top: 20px;
  right: 3px;
}

#info-content{
  margin-right: 30px;
  max-height: 480px;
  overflow: scroll;
}

#info-content table{
  max-width: 200px;
}




.querybuilder_tool_poppup{
  position: absolute;
  top: 10px;
  left: 26px;
  height: auto;
  width: 480px;
  /* background-color: #a4e7d1;
  padding: 10px;
  overflow: hidden; */
  /* border: 1px solid  #00625A; */
  border-radius: 8px;
  padding: 0;
  background: #fff;
  background: linear-gradient(to top, #a4e7d1 0%, #ffffff 100%);

  
}

.querybuilder_tool_poppup> div{
  /* display: flex; */
  padding: 15px;
}

#query-textbox{
  /* width: 100%;
  padding: 10px;
  height: 40px; */
  width: 100%;
  height: 60px;
}


#queryfilterForm{
  display: flex;
}


#query-operator button{
  color: #000;
  padding: 5px;
  border-radius: 5px;
  width: 30px;
  margin: 4px;
  background: linear-gradient(to top, #006666 0%, #00ffcc 100%);


}

#and-or-query-btn button{

  width: 50px;
 
}

.popup-header{
  text-align: center;
  color: #fff;
  height: 30px;
  background: #00bf8f;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #001510, #00bf8f);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #001510, #00bf8f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#queryfilterForm >div {
  width: 40%;
  padding: 15px;
}

#queryfilterForm input{
  width: 100%;
}